.BuildControl {
  display: grid;
  grid-template-columns: 3fr 1fr 1fr 1fr;
  grid-auto-flow: column;
  align-items: center;
  margin: 0;
  background-color: var(--red);
  border: 0.2rem solid var(--wine);
}

.BuildControl button {
  font: inherit;
  font-size: 1rem;
  font-weight: 900;
  padding: 0.3rem 0.6rem;
  margin: 0;
  border: 1px solid #aa6817;
  cursor: pointer;
  outline: none;
}

.BuildControl button:disabled {
  background-color: #ac9980;
  border: 1px solid #7e7365;
  color: #ccc;
  cursor: default;
}

.BuildControl button:hover:disabled {
  background-color: #ac9980;
  color: #ccc;
  cursor: not-allowed;
}

.Label {
  color: white;
  padding: 0.3rem;
  font-weight: 800;
  text-align: left;
}

.Price {
  background-color: var(--orange);
  color: white;
  padding: 0.3rem;
  font-weight: 600;
  text-align: right;
}

.BuildControl .Less {
  background-color: red;
  color: white;
}

.BuildControl .More {
  background-color: var(--green);
  color: white;
}

.BuildControl .Less:hover,
.BuildControl .Less:active {
  background-color: #daa972;
  color: white;
}

.BuildControl .More:hover,
.BuildControl .More:active {
  background-color: #99703f;
  color: white;
}

@media (min-width: 500px) {
  .BuildControl {
    display: grid;
    grid-template-columns: 5fr 1fr 1fr 2fr;
    grid-auto-flow: column;
    align-items: center;
    margin: 0;
    background-color: var(--red);
    border: 0.2rem solid var(--wine);
  }
}
