.BuildControls {
  display: grid;
  align-items: center;
  margin: 0;
  padding: 0 2rem;
  background-color: var(--wine);
}

.BuildBox {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(4, minmax(10vw, 1fr));
  grid-template-rows: repeat(auto-fill, minmax(5vh, 1fr));
  align-items: center;
  padding: 0;
}

.ControlBox {
  background-color: var(--wine);
  display: grid;
  grid-gap: 0.3rem;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  justify-items: center;
  padding: 0;
}

.PriceSum {
  background-color: var(--wine);
  outline: none;
  cursor: pointer;
  border: 0.2rem solid var(--red);
  color: var(--red);
  font-family: inherit;
  font-size: 1.1rem;
  font-weight: 700;
  padding: 0.1rem 0.2rem;
  box-shadow: 2px 2px 2px #966909;
}

.OrderButton {
  background-color: var(--green);
  outline: none;
  cursor: pointer;
  border: 0.2rem solid var(--wine);
  color: white;
  font-family: inherit;
  font-size: 1.1rem;
  padding: 0.3rem 2rem;
  box-shadow: 2px 2px 2px #966909;
}

.OrderButton:hover,
.OrderButton:active {
  background-color: var(--green);
  border: 0.2rem solid var(--wine);
  color: #966909;
}

.OrderButton:disabled {
  background-color: #c7c6c6;
  cursor: not-allowed;
  border: 0.2rem solid lightgrey;
  color: #888888;
}

.OrderButton:not(:disabled) {
  animation: enable 0.3s linear;
}

@keyframes enable {
  0% {
    transform: scale(1);
  }
  60% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}
