.BuildControls {
  grid-area: 2/1/2/1;
  display: grid;
  margin: 0;
  padding: 1rem 0.2rem;
  background-color: var(--wine);
  height: 40vh;
}

.BuildBox {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(2, minmax(10vw, 1fr));
  grid-template-rows: repeat(auto-fill, minmax(5vh, 1fr));
  padding: 0.1rem;
}

.ControlBox {
  background-color: var(--wine);
  display: grid;
  grid-gap: 0.1rem;
  grid-template-columns: 1fr 1fr 2fr 1fr 1fr;
  grid-template-rows: 10vh;
  justify-items: center;
  padding: 0;
}

.PriceSum {
  background-color: var(--wine);
  border: 0.2rem solid var(--red);
  color: var(--red);
  font-size: 1rem;
  font-weight: 700;
  padding: 0.1rem 0.2rem;
  box-shadow: 2px 2px 2px #966909;
}

.CartLogo {
  width: 80%;
  height: 80%;
  filter: invert(100%);
}

.OrderButton {
  height: 10vh;
  width: 70%;
  background-color: var(--green);
  cursor: pointer;
  border: 0.2rem solid white;
  color: white;
  font-size: 1.1rem;
  padding: 0rem;
  margin: 0;
  box-shadow: 2px 2px 2px #966909;
}

.OrderButton:hover,
.OrderButton:active {
  background-color: var(--green);
  border: 0.2rem solid var(--red);
  color: #966909;
}

.OrderButton:disabled {
  background-color: #c7c6c6;
  cursor: not-allowed;
  border: 0.2rem solid lightgrey;
  color: #888888;
}

.OrderButton:not(:disabled) {
  animation: enable 0.3s linear;
}

@keyframes enable {
  0% {
    transform: scale(1);
  }
  60% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}

@media (min-width: 600px) {
  .BuildControls {
    height: 30vh;
  }

  .BuildBox {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(4, minmax(10vw, 1fr));
    grid-template-rows: repeat(auto-fill, minmax(10vh, 1fr));
    align-items: center;
    padding: 0.1rem;
  }

  .OrderButton {
    height: 15vh;
    font-size: 1.1rem;
    padding: 0rem;
  }

  .PriceSum {
    height: 10vh;
  }
}
