.ItemLabel {
  color: white;
  background-color: var(--orange);
  font-weight: 900;
  font-size: 1.1rem;
  padding: 0.4rem 0.6rem;
  border-radius: 50%;
}

.ItemPrice {
  color: white;
  background-color: var(--orange);
  font-weight: 900;
  font-size: 1.1rem;
  padding: 0.3rem 0.2rem;
  border-radius: 50%;
}

.BuildControl {
  display: grid;
  grid-auto-flow: column;
  margin: 0;
  background-color: var(--red);
  height: 20%;
  z-index: 1;
}

.BuildControl button {
  font: inherit;
  font-size: 1rem;
  font-weight: 900;
  padding: 0.3rem 0.6rem;
  margin: 0;
  border: 1px solid #aa6817;
  cursor: pointer;
  outline: none;
}

.BuildControl button:disabled {
  background-color: #ac9980;
  border: 1px solid #7e7365;
  color: #ccc;
  cursor: default;
}

.BuildControl button:hover:disabled {
  background-color: #ac9980;
  color: #ccc;
  cursor: not-allowed;
}

.BuildControl .Less {
  background-color: red;
  color: white;
}

.BuildControl .More {
  background-color: var(--green);
  color: white;
}

.BuildControl .Less:hover,
.BuildControl .Less:active {
  background-color: #daa972;
  color: white;
}

.BuildControl .More:hover,
.BuildControl .More:active {
  background-color: #99703f;
  color: white;
}

.ShopItem {
  display: grid;
  justify-content: center;
  align-content: center;
  grid-auto-flow: row;
  width: 90%;
  height: 30vh;
  background-position-x: center;
  background-position-y: center;
  background-size: contain;
  background-repeat: no-repeat;
}

.shopItem1 {
  background-image: url("/img/cont/shopItem1.png");
}

.shopItem2 {
  background-image: url("/img/cont/shopItem2.png");
}
.shopItem3 {
  background-image: url("/img/cont/shopItem3.png");
}
.shopItem4 {
  background-image: url("/img/cont/shopItem4.png");
}
.shopItem5 {
  background-image: url("/img/cont/shopItem5.png");
}
.shopItem6 {
  background-image: url("/img/cont/shopItem6.png");
}
.shopItem7 {
  background-image: url("/img/cont/shopItem7.png");
}
.shopItem8 {
  background-image: url("/img/cont/shopItem8.png");
}
