.CheckoutBox {
  padding: 2rem 1rem;
}

.CheckoutContent {
  display: grid;
  align-items: center;
}

.CheckoutHeading {
  text-align: center;
  font-size: 1.3rem;
  padding: 1rem 2rem;
  color: var(--red);
  background-color: var(--wine);
}

.CheckoutControls {
  display: grid;
  grid-gap: 1rem;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  justify-content: center;
  padding: 3rem;
}
