.wine1 {
  width: 100%;
  height: 100%;
  background: center / contain no-repeat
    url("../../../assets/images/cont/wine1.png");
}

.wine2 {
  width: 100%;
  height: 100%;
  background: center / contain no-repeat
    url("../../../assets/images/cont/wine2.png");
}
.wine3 {
  width: 100%;
  height: 100%;
  background: center / contain no-repeat
    url("../../../assets/images/cont/wine3.png");
}
.wine4 {
  width: 100%;
  height: 100%;
  background: center / contain no-repeat
    url("../../../assets/images/cont/wine4.png");
}
.wine5 {
  width: 100%;
  height: 100%;
  background: center / contain no-repeat
    url("../../../assets/images/cont/wine5.png");
}
.wine6 {
  width: 100%;
  height: 100%;
  background: center / contain no-repeat
    url("../../../assets/images/cont/wine6.png");
}
.wine7 {
  width: 100%;
  height: 100%;
  background: center / contain no-repeat
    url("../../../assets/images/cont/wine7.png");
}
.wine8 {
  width: 100%;
  height: 100%;
  background: center / contain no-repeat
    url("../../../assets/images/cont/wine8.png");
}
