.CheckoutList {
  display: grid;
  grid-template-columns: repeat(6, minmax(15%, 1fr));
  gap: 3rem 1rem;
}

.Empty {
  color: white;
  font-weight: 900;
  font-size: 1.1rem;
  width: 100%;
  height: 100%;
}

.PriceSum {
  background-color: var(--wine);
  color: var(--red);
  font-size: 2rem;
  font-weight: 700;
  padding: 1rem 0.2rem;
  width: 100%;
}

@media (max-width: 600px) {
  .CheckoutList {
    grid-template-columns: repeat(3, minmax(10%, 1fr));
  }
}
