.CheckoutSummary {
  width: 100vw;
  display: grid;
  grid-gap: 2rem;
  grid-auto-flow: row;
  align-items: center;
  justify-items: center;
  margin: 0;
  padding: 0;
}

.CheckoutBox {
  width: 100vw;
  display: grid;
  align-items: center;
  align-content: space-around;
  justify-content: space-around;
  margin: 0;
  padding: 1rem 0rem;
}

.CheckoutControls {
  width: 50%;
  display: grid;
  grid-gap: 2rem;
  grid-template-columns: 1fr 1fr;
  justify-items: center;
  align-content: space-around;
  justify-content: space-around;
}
