.CheckoutSummary {
  width: 100%;
  display: grid;
  grid-auto-flow: row;
  align-items: center;
  margin: 0;
  padding: 0;
  background-color: var(--wine);
}

.CheckoutBox {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(4, minmax(10vw, 1fr));
  grid-template-rows: repeat(auto-fill, minmax(5vh, 1fr));
  align-items: center;
  box-shadow: 0 2px 1px #ccc;
  padding: 0;
}

.CheckoutControls {
  width: 100%;
  background-color: var(--wine);
  display: grid;
  grid-gap: 2rem;
  grid-template-columns: 1fr 1fr;
  justify-items: center;
  align-content: space-around;
  justify-content: space-around;
  padding: 1rem 2rem;
}
