.ShopItem {
  display: grid;
  grid-template-rows: 1fr /1fr;
  align-items: center;
  justify-content: center;
  animation: appear 0.3s linear;
}

.ItemLabel {
  grid-area: 1/1/1/1;

  color: white;
  background-color: var(--orange);
  font-weight: 900;
  font-size: 1.1rem;
  padding: 0.4rem 0.6rem;
  border-radius: 50%;
}

.ItemPicture {
  grid-area: 1/1/1/1;
  place-self: center center;
  height: 20vh;
}

.ItemPrice {
  color: white;
  background-color: var(--orange);
  font-weight: 900;
  font-size: 1.1rem;
  padding: 0.3rem 0.2rem;
  border-radius: 50%;
}

.BuildControl {
  display: grid;
  grid-auto-flow: column;
  margin: 0;
  background-color: var(--red);
  height: 20%;
  z-index: 1;
}

.BuildControl button {
  font: inherit;
  font-size: 1rem;
  font-weight: 900;
  padding: 0.3rem 0.6rem;
  margin: 0;
  border: 1px solid #aa6817;
  cursor: pointer;
  outline: none;
}

.BuildControl button:disabled {
  background-color: #ac9980;
  border: 1px solid #7e7365;
  color: #ccc;
  cursor: default;
}

.BuildControl button:hover:disabled {
  background-color: #ac9980;
  color: #ccc;
  cursor: not-allowed;
}

.BuildControl .Less {
  background-color: red;
  color: white;
}

.BuildControl .More {
  background-color: var(--green);
  color: white;
}

.BuildControl .Less:hover,
.BuildControl .Less:active {
  background-color: #daa972;
  color: white;
}

.BuildControl .More:hover,
.BuildControl .More:active {
  background-color: #99703f;
  color: white;
}

.ShopItem {
  display: grid;
  justify-content: center;
  align-items: center;
  grid-template-rows: 1fr 5vh 5vh;
}
