.CheckoutList {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(20%, 1fr));
  width: 95vw;
  height: 100%;
  margin: 0;
  overflow: hidden;
}

.Empty {
  color: white;
  font-weight: 900;
  font-size: 1.1rem;
  width: 100%;
  height: 100%;
}
