.Toolbar {
  grid-area: 1/1/1/1;
  height: 10vh;
  width: 100%;
  background-color: var(--red);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 2rem;
  box-sizing: border-box;
  z-index: 9;
}

.Toolbar nav {
  height: 100%;
}

.CartWrap {
  display: grid;
  grid-auto-flow: column;
  align-items: center;
  margin: 0;
  padding: 0.1rem 0.4rem;
  background-color: var(--blue);
}

.CartCounter {
  color: var(--wine);
  padding: 0.1rem 0.2rem;
  font-size: 1.1rem;
  font-weight: 800;
}

.CartIcom {
  height: 3vh;
  filter: invert(100%);
}

.Logo {
  height: 80%;
}

@media (max-width: 499px) {
  .DesktopOnly {
    display: none;
  }
}
