.Modal {
  display: grid;
  grid-area: 2/1/4/1;
  z-index: 5;
  background-color: white;
  width: 90vw;
  height: 50vh;
  border: 1px solid #ccc;
  box-shadow: 1px 1px 1px black;
  padding: 0;
  box-sizing: border-box;
  transition: all 0.3s ease-out;
}

@media (min-width: 600px) {
  .Modal {
    width: 70vw;
    height: 70vh;
  }
}
