.ItemLabel {
  display: grid;
  justify-content: center;
  align-content: center;
  color: white;
  font-weight: 900;
  font-size: 1.1rem;
  width: 100%;
  height: 100%;
}

.shopItem1 {
  background: center / contain no-repeat
    url("../../../assets/images/cont/shopItem1.png");
}

.shopItem2 {
  background: center / contain no-repeat
    url("../../../assets/images/cont/shopItem2.png");
}
.shopItem3 {
  background: center / contain no-repeat
    url("../../../assets/images/cont/shopItem3.png");
}
.shopItem4 {
  background: center / contain no-repeat
    url("../../../assets/images/cont/shopItem4.png");
}
.shopItem5 {
  background: center / contain no-repeat
    url("../../../assets/images/cont/shopItem5.png");
}
.shopItem6 {
  background: center / contain no-repeat
    url("../../../assets/images/cont/shopItem6.png");
}
.shopItem7 {
  background: center / contain no-repeat
    url("../../../assets/images/cont/shopItem7.png");
}
.shopItem8 {
  background: center / contain no-repeat
    url("../../../assets/images/cont/shopItem8.png");
}
