.NavigationItem {
  margin: 0;
  box-sizing: border-box;
  display: block;
  width: 100%;
}

.NavigationItem a {
  color: white;
  height: 100%;
  padding: 0.6rem 0.3rem;
  border-bottom: 0.2rem solid transparent;
  background-color: var(--red);
  text-decoration: none;
}

.NavigationItem a:hover {
  background-color: var(--wine);
  color: var(--red);
  border-bottom: 0.2rem solid var(--red);
}

.NavigationItem a:hover,
.NavigationItem a:active,
.NavigationItem a.active {
  border-bottom: 0.2rem solid var(--green);
}

.NavigationItem a:hover,
.NavigationItem a:active {
  background-color: var(--wine);
  border-bottom: 0.2rem solid var(--green);
}
/* 
@media (min-width: 500px) {
    .NavigationItem {
        margin: 0;
        display: flex;
        height: 100%;
        width: auto;
        align-items: center;
    }
    
    .NavigationItem a {
        color: white;
        height: 100%;
        padding: 16px 10px;
        border-bottom: 4px solid transparent;
    }
    
    .NavigationItem a:hover,
    .NavigationItem a:active,
    .NavigationItem a.active {
        background-color: #8F5C2C;
        border-bottom: 4px solid #40A4C8;
        color: white;
    }
} */
