.Button {
  background-color: transparent;
  border: none;
  color: white;
  outline: none;
  cursor: pointer;
  font: inherit;
  padding: 0.4rem 0.6rem;
  margin: 0px;
  font-size: 1.2rem;
  font-weight: 800;
  font-family: "Alegreya SC", monospace;
}

.Button:disabled {
  color: #ccc;
  cursor: not-allowed;
}

.Success {
  background-color: var(--green);
}

.Danger {
  background-color: var(--red);
}

@media all and (max-width: 736px) {
  .Button {
    padding: 0.4rem 0.6rem;
    margin: 0px;
    font-size: 2rem;
    font-weight: 900;
  }
}
