.wine1 {
  width: 10vw;
  height: 30vh;
  background-position: center;
  background-size: contain;
  background-image: url("../../../assets/images/wine1.png");
  margin: 0;
}

.wine2 {
  width: 10vw;
  height: 30vh;
  background-position: center;
  background-size: contain;
  background-image: url("../../../assets/images/wine2.png");
  margin: 0;
}
.wine3 {
  width: 10vw;
  height: 30vh;
  background-position: center;
  background-size: contain;
  background-image: url("../../../assets/images/wine3.png");
  margin: 0;
}
.wine4 {
  width: 10vw;
  height: 30vh;
  background-position: center;
  background-size: contain;
  background-image: url("../../../assets/images/wine4.png");
  margin: 0;
}
.wine5 {
  width: 10vw;
  height: 30vh;
  background-position: center;
  background-size: contain;
  background-image: url("../../../assets/images/wine5.png");
  margin: 0;
}
.wine6 {
  width: 10vw;
  height: 30vh;
  background-position: center;
  background-size: contain;
  background-image: url("../../../assets/images/wine6.png");
  margin: 0;
}
.wine7 {
  width: 10vw;
  height: 30vh;
  background-position: center;
  background-size: contain;
  background-image: url("../../../assets/images/wine7.png");
  margin: 0;
}
.wine8 {
  width: 10vw;
  height: 30vh;
  background-position: center;
  background-size: contain;
  background-image: url("../../../assets/images/wine8.png");
  margin: 0;
}
