.AuthWrap {
  grid-area: 2/1/4/1;
  display: grid;
  grid-auto-flow: row;
  justify-content: center;
  align-items: center;
}

.Auth {
  display: grid;
  max-width: 50vw;
  grid-gap: 0.5rem;
  grid-auto-flow: row;
  margin: 0;
  text-align: center;
  padding: 1rem;
  box-sizing: border-box;
}

@media (max-width: 600px) {
  .Auth {
    max-width: 80vw;
  }
}
