.NavigationItems {
  display: grid;
  grid-gap: 4rem;
  grid-auto-flow: row;
  margin: 0;
  font-family: 'Alegreya SC',monospace;
}

@media (min-width: 500px) {
  .NavigationItems {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    align-items: center;
    height: 100%;
    flex-flow: row;
  }
}
