.CartWrapper {
  position: fixed;
  display: grid;
  grid-auto-flow: row;
  justify-items: center;
  padding: 0.1rem 0.8rem;
  background-color: var(--wine);
  top: 1vh;
  left: 20vw;
  border: 0.1rem solid var(--blue);
  z-index: 10;
}

.CartBox {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-auto-flow: row;
  align-content: space-around;
  justify-content: space-around;
  padding: 0.2rem;
}

.CartControls {
  width: 90%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 1fr;
  align-items: center;
  align-content: space-around;
  justify-content: space-around;
  padding: 1rem 0rem;
}

.CartItem {
  display: grid;
  grid-template-columns: 1fr 5vw;
  align-content: space-around;
  justify-content: space-around;
  justify-items: start;
  padding: 0.1rem 0.8rem;
}

.CartTitle {
  outline: none;
  color: var(--red);
  font-family: inherit;
  text-align: center;
  font-size: 1.2rem;
  font-weight: 600;
  padding: 0.1rem 0.5rem;
  margin: 0rem;
}

.CartName {
  outline: none;
  color: var(--red);
  font-family: inherit;
  text-align: center;
  font-size: 1.1rem;
  font-weight: 700;
  padding: 0.3rem 0.5rem;
  margin: 0rem;
}

.CartPrice {
  outline: none;
  color: var(--red);
  font-family: inherit;
  font-size: 1.1rem;
  font-weight: 700;
  padding: 0.3rem 0.5rem;
  margin: 0rem;
}

@media (max-width: 500px) {
  .CartSummary {
    right: 20vw;
  }
}
